* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input {
  border: none;
  font-family: "Fira Sans", sans-serif;
  outline: none;
  width: 43%;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: #fff;
}
h1 {
  color: white;
}
.add {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.todo {
  position: relative;
  margin-top: 1rem;
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  color: black;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}
